.DS_Store
__pycache__/
data_subset/
Twibot-22/
Twibot-20/
data/users_with_tweets.json
tweets_with_labels.json
tweet_0_ndjson_output
tweets_with_labels_test_0_ndjson
tweets_with_labels_test_0.json
tweets_with_labels_test_1.json
runs/test_output
data/preprocessed_cache
.pytest_cache/
.vscode/
sparkapp/__pycache__
tweets_with_labels.json
pipeline_model
